<div class="text-center">
  <h2>{{job_name}}</h2>
    <ul>
      <li>{{company_name}}</li>
      <li>{{job_city}}, {{job_state}}</li>
      <li>{{job_type}}</li>
      <li>Earn from ${{annual_salary_from}} to ${{annual_salary_to}}</li>
      <li>{{job_url}}</li>
    </ul>
  <p>
    <button class="btn btn-primary">Add this job!</button>
  </p>
</div>