<div class="row">
  <div class="col-auto">
    <h2>{{name}}'s Job List</h2>
  </div>
</div>

  {{#if jobs.length}}
  <div class="col-md-6 project-list">
    <h3>Current Added Jobs:</h3>

    {{#each jobs}}
    <div class="row mb-2">
      <h2 id="{{id}}">{{name}}</h2>
        <ul>
          <li>{{company}}</li>
          <li>{{cityCategory}}, {{stateCategory}}</li>
          <li>{{jobType}}</li>
          <li><a href="{{redirectJobUrl}}">{{jobUrl}}</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">Remove Job</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}


{{!-- <script src="../assets/js/profile.js"></script> --}}
