<div class="row">
  <div class="col-auto">
    <h2>{{name}}'s Job List</h2>
  </div>
</div>

  {{#if favorites.length}}
  <div class="col-md-6 job-list">
    <h3>Current Added Jobs:</h3>

    {{#each favorites}}
    <div class="row mb-2">
      <h2 id="{{id}}">{{name}}</h2>
        <ul>
          <li>{{company}}</li>
          <li>{{cityCategory}}, {{stateCategory}}</li>
          <li>{{jobType}}</li>
          <li><a href="{{redirectJobUrl}}">{{jobUrl}}</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-job" data-id="{{id}}">Remove Job</button>
      </div>

      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div> --}}

    </div>
    {{/each}}
  </div>
  {{/if}}


<script src="/js/profile.js"></script>
